beautifulsoup4
faiss-cpu
flask
groq
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
langgraph
langgraph-checkpoint-postgres
langgraph-checkpoint-sqlite
langsmith
psycopg[binary]
pypdf
python-dotenv
torch
sentence-transformers