langchain
langchain-community
langchain-huggingface
langgraph
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
langsmith
langchain-groq
flask
pypdf
bs4
groq
dotenv
langchain-text-splitters
sentence-transformers
faiss-cpu
psycopg[binary]